.profile{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.p1{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.p1 img{
    margin-top: 100px;
}

.p1 h2{
    font-size: 70px;
    font-weight: 600;
    width: 80%;
    text-align: center;
}

.p1 h2 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p1 p{
    font-size: 24px;
    width: 50%;
    text-align: center;
    line-height: 40px;
}

.p2{
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px;
}

.p3{
    padding: 15px 35px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415ff 100%);
    cursor: pointer;
}

.p4{
    padding: 15px 35px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.p3:hover{
    border:2px solid white
}

.p4:hover{
    border-color: #B415ff;
}

@media (max-width: 768px) {
    .p1 img{
        margin-top: 120px;
        width: 260px;
    }
    .p1 h2{
        margin-top: 50px;
        width:90%;
        font-size: 50px;
    }
    .p1 p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .p2{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .p3{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .p4{
        padding: 20px 50px;
        border-radius: 40px;
    }
}